.home {
    width: 60%;
    margin: 1rem auto;
}

.card {
    margin: 1rem 0 0 0;
    width: 100%;
    height: 196px;
    background-color: var(--cinza-fundos);
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--cinza);
}

.foto {
    margin: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.titulo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--azul);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.info a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: var(--cinza);
    margin-left: 0.5rem;
}

.msg {
    display: flex;
}