.mensagem {
    background: url("../bg/forma1.png")no-repeat;
    max-width: 100vw;
}

.frase{
    text-align: center;
    margin: 5% 20% auto;
}

.msg {
    width: 80%;
    margin: 1rem auto;
    background-color: var(--cinza-fundos);
}

.input {
    background: var(--branco);
    width: 90%;
}